@using Sewing.Models.ViewModel;
@model DataViewModel<SewingStudio.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().MaterialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().QuantityMaterialInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityMaterialInStock)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdMaterial">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdMaterial">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdMaterial">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ul class="pagination">
        @{
            var minval = Model.CurrentPage - 5 > 1 ? Model.CurrentPage - 5 : 1;
            if (minval > 1)
            {
                <li class="page-item">
                    <a asp-action="Index" asp-controller="Materials" asp-route-page="1" class="page-link">1</a>
                </li>
            }
        }

        @for (var i = 0; i < 10 && minval <= Model.PageCount; i++, minval++)
        {

            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-action="Index" asp-controller="Materials" asp-route-page=@(minval) class="page-link">@minval</a>
            </li>
        }
        @if (minval < Model.PageCount)
        {
            <li class="page-item">
                <a asp-action="Index" asp-controller="Materials" asp-route-page=@Model.PageCount class="page-link">@Model.PageCount</a>
            </li>
        }
    </ul>
</div>